html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #333333;
  text-decoration: none;
}

h2 {
  color: #202844;
  font-weight: bold;
}

h3 {
  color: #f08802;
  font-weight: 100;
}

* {
  box-sizing: border-box;
}

.sidenav {
  background: #202844 !important;
}

a.tabbex.nav-link.active {
  background-color: #333 !important;
  color: #fff;
  border-radius: 0;
}

a.tabbex.nav-link {
  background-color: #f2f2f2 !important;
  color: #333;
  border-radius: 0;
  transition: all 1s;
}

a.tabbex.nav-link .lnr {
  position: absolute;
  right: 20px;
  top: 12px;
  color: #fff;
}

a.tabbex.nav-link:hover {
  background-color: #f18802 !important;
  color: #202844;
}

.navbar-expand-lg.bg-light {
  min-height: 59px;
  border-bottom: 5px solid #202844;
  box-shadow: 0 0 10px #000;
  position: fixed;
  top: 0;
  width: 100%;
}