html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

a {
  color: #333333;
  text-decoration: none;
}

h2 {
  color: #202844;
  font-weight: bold;
}

h3 {
  color: #f08802;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

.sidenav {
  background: #202844 !important;
}